<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>

  <ion-avatar>

  </ion-avatar>
</ion-header>

<ion-content padding>
  <button ion-button (click)="getPosition()" color="primary" [disabled]="gettingPosition">{{ gettingPosition ? 'LOADING ...' : 'POSITION' }}</button>
  <button ion-button (click)="change()" color="{{ authorized ? 'danger' : 'secondary' }}" [disabled]="gettingPosition">CHANGE AUTHORISATION</button>
  <p>Authorized: {{ authorized }}</p>
  <p *ngIf="!errorString && authorized">Position:
    <span *ngIf="gettingPosition">Loading ...</span>
    <span *ngIf="!gettingPosition">{{ latitude }}, {{ longitude }}</span>.
  </p>
  <p *ngIf="errorString">Error: {{ errorString }}.</p>
</ion-content>

